[submodule "FV3"]
	path = FV3
	url = https://github.com/DeniseWorthen/fv3atm.git
	branch = cmeps_integration_update
[submodule "stochastic_physics"]
        path = stochastic_physics
        url = https://github.com/noaa-psd/stochastic_physics
[submodule "ccpp/framework"]
        path = ccpp/framework
        url = https://github.com/NCAR/ccpp-framework
[submodule "ccpp/physics"]
        path = ccpp/physics
        url = https://github.com/NCAR/ccpp-physics
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/DeniseWorthen/NEMS.git
	branch = cmeps_integration
[submodule "CICE_SRC"]
	path = CICE_SRC
	url = https://github.com/DeniseWorthen/CICE5.git
	branch = cmeps_integration
[submodule "MOM6"]
	path = MOM6
	url = https://github.com/EMC-MOM6/NEMS-MOM6-FMS
	branch = cmeps_integration_update
[submodule "FMS"]
	path = FMS
	url = https://github.com/DeniseWorthen/FMS.git
	branch = feature/bugtracks
[submodule "CMEPS"]
	path = CMEPS
	url = https://github.com/ESCOMP/CMEPS.git
	branch = mvertens/nems_integration
