[submodule "FV3"]
	path = FV3
	url = gerrit:FV3
	branch = cmeps_integration
[submodule "NEMS"]
	path = NEMS
	url = gerrit:NEMS
	branch = cmeps_integration
[submodule "CICE_SRC"]
	path = CICE_SRC
	url = gerrit:EMC_CICE
	branch = cmeps_integration
[submodule "MOM6"]
	path = MOM6
	url = https://github.com/EMC-MOM6/NEMS-MOM6-FMS
	branch = cmeps_integration
[submodule "FMS"]
	path = FMS
	url = git://github.com/NOAA-EMC/FMS
[submodule "CMEPS"]
	path = CMEPS
	url = https://github.com/ESCOMP/CMEPS.git
	branch = nems_integration
